 <% if (errors) {%>
    <% errors.forEach(function (error) { %>
      <% if (error =='Error.Passport.Email.Missing'){%>
        <p> Please be sure to fill the Email input </p>
      <%} %>
      <% if (error =='Error.Passport.Username.Missing') { %>
        <p> Please be sure to fill the Username input  </p>
      <%} %>
      <% if (error =='Error.Passport.Password.Missing') { %>
        <p> Please be sure to fill the password input  </p>
      <%} %>
      <% if (error =='Error.Passport.Mail.Exists') { %>
        <p>The mail address already exist</p>
      <%} %>
      <% if (error =='Error.Passport.User.Exists') { %>
        <p>The Username already exist </p>
      <%} %>
      <% if (error =='Error.Passport.Password.Invalid') { %>
        <p>Please be sure your password is at least 8 characters</p>
      <%} %>
      <% if (error =='Error.Passport.Password.Wrong') { %>
        <p>Please be sure your password is correct</p>
      <%} %>
      <% if (error =='Error.Passport.Password.NotSet') { %>
        <p>Please be sure your password is set</p>
      <%} %>
      <% if (error =='Error.Passport.Generic'){%>
        <p> Please be sure to fill the inputs </p>
      <%} %>
      <% if (error =='Error.Passport.Username.NotFound') { %>
        <p> The username or the password is wrong </p>
      <%} %>
    <% }) %>
<% } %>
