<div id= "global-size">
  <p> You're not connected yet</p>
  <% if (Object.keys(providers).length) {%>
    <% Object.keys(providers).forEach(function (key) { %>
      <a id="socialButton" class="waves-effect waves-light btn-large" href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %><i class="material-icons right">cloud</i></a>
    <% }) %>
  <% } %>
</br>
  <div class="progress">
        <div class="determinate" style="width: 100%"></div>
    </div>
    <% if (errors) {%>
    <% errors.forEach(function (error) { %>
      <%= __(error) %>
    <% }) %>
  <% } %>

</p>
  <form  id="form-login" role="form" action="/auth/local" method="post">
    <div>
      <div class="input-field col s12">
        <input id="identifier" type="text" name="identifier" class="validate">
        <label for="identifier">Username or Email</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button id="signinButton" class="waves-effect waves-light btn-large" role="button" type="submit">Sign in</button>
  </form>
</br>
</br>
  <a  id="forgotPassButton" href="#">I forgot my password</a>
  <p>You can also Register...</p>
  <a  id="registerButton" class="waves-effect waves-light btn-large" href="register">Register<i class="material-icons right">send</i></a>
</div>
