<main>
  <div id= "global-size">
      <p>Create device</p>
      <form  id="form-login" role="form" action="/device/create" method="POST">
          <div>
              <div class="input-field col s12">
                  <input type="text" name="name"  placeholder="Name" class="validate">
              </div>
          </div>
          <button id="signinButton" class="waves-effect waves-light btn-large" role="button" type="submit">Create</button>
      </form>
      <br/>
  </div>
</main>
