<!-- Modal adding device -->
<div id="modal3" class="modal">
	<div class="modal-content">
		<h4>Stop to share this device (<%- device.name %>)</h4>
		<div class="row">
		 <form id="shareDevice" class="col s12">
		 	<div class="row">
				<div class="input-field col s12">
				 <p class="center-align">This device is currently shared. You can only remove them.</p>
				 <br/>
				</div>
			<div class="modal-footer">
			<div class="col s12">
				<div class="col s6">
					<button style="width:100%" type="button" onclick="unShareDevice(<%- device.id %>,'<%- key.sharedKey %>')" class="waves-effect waves-light btn">Delete this share</button>
				</div>
				<div class="col s6">
					<button style="width:100%" type="button" onclick="$('#modal3').closeModal()" class="waves-effect waves-light btn">Close</button>
				</div>
			</div>
			 </div>
		 </form>
	 </div>
	</div>
</div>