<div class="col s12">
	<h3 class="left">Historiques des logs</h3>
  <table class="logs">
    <thead>
      <tr>
          <th data-field="userId">User</th>
          <th data-field="deviceName">Device Name</th>
          <th data-field="state">State</th>
          <th data-field="description">Description</th>
          <th data-field="updated">Update date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>