<div class="col s12">
  <h3 class="left">Stats</h3>
  <table class="stats">
    <tbody>
      <td id="opn_clsd_stat" style="height: 250px"></td>
    </tbody>
  </table>
  <!-- Put contents here -->
</div>