<!-- Dashboard -->
<% include header %>
<main>
  <div class="row">
    <div id="sideMenu" class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->

    </div>
    <div id="contents" class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->

    </div>
  </div>
</main>
<% include footer %>
