<footer class="page-footer">
  <div class="container">
    	<p class="grey-text text-lighten-4 left">© 2015 Ynov Bordeaux</p>
    	<p class="grey-text text-lighten-4 right">Locka v0.1</p>
  </div>
</footer>
