<footer class="page-footer">
	<div class="footer-copyright">
    <div class="container">
    © 2015 Ynov Bordeaux
    <a class="grey-text text-lighten-4 right" href="#!">Locka v0.1</a>
    </div>
  </div>
</footer>
