<% include ../header %>
<div id= "global-size">
    <p>Forget Password</p>
    <form  id="form-login" role="form" action="/user/sendNewPassword" method="post">
        <div>
            <div class="input-field col s12">
                <input type="text" name="email"  placeholder="Email" class="validate">
            </div>
        </div>
        <button id="signinButton" class="waves-effect waves-light btn-large" role="button" type="submit">Send mail</button>
    </form>
</div>
<% include ../footer %>