<main>
  <div class="row">
		<div class="z-depth-3 col s8 offset-s2 m4 offset-m4 l4 offset-l4 global-size">
      <p>Forget Password</p>
      <form  id="form-login" role="form" action="/sendNewPassword" method="POST">
        <div>
          <div class="input-field col s12">
            <input type="text" name="email"  placeholder="Email" class="validate">
          </div>
        </div>
        <button class="waves-effect waves-light btn-large flatButton" role="button" type="submit">Send mail</button>
      </form>
      <a class="flatButton" href="/login">Login</a>
    </div>
  </div>
</main>
