#global-size {
	height: auto;
	width: 400px;
	margin: auto;
	margin-top: 100px;
	border: 1px solid red;
	input {

	}
	p {
		text-align: center;
	}

}
input {
	margin-left: 10px;
	margin-right: 10px;
}
#socialButton, #registerButton{
	display: block;
	text-align: center;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px
}

#signinButton {
	display: block;
	margin: auto;
}
