@font-face {
    font-family: "Avenir-Book";
    src: url(../fonts/Avenir-Book.ttf);
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../fonts/Avenir-Heavy.ttf);
}
@font-face {
    font-family: "Avenir-Medium";
    src: url(../fonts/Avenir-Medium.ttf);
}
#global-size {
	font-family: "Avenir-Book", "Source Sans Pro", "Helvetica", "Open Sans", "sans-serif";
	height: auto;
	width: 400px;
	margin: auto;
	margin-top: 100px;
	border-radius: 3px;
	padding: 20px;
	background-color: white;
	p {
		text-align: center;
	}
	a {
		border-radius: 3px;
	}
}
#socialButton, #registerButton {
	display: 			 block;
	text-align: 	 center;
	margin: 			 auto;
	margin-bottom: 20px;
}
#signinButton {
	width: 100%;
}
#forgotPassButton{
	text-align:center;
	display:block;
}
